/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map-container {
  position: relative;
  height: 100vh;
}
#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#meetup-form {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  height: 100%;
  width: 30%;
  transform: translate(0%, -50%);

  background: white;
  padding: 20px;
  border-radius: 8px;
  display: block;

  z-index: 2;
}

label {
  display: block;
  margin-bottom: 5px; /* Adds space between label and input */
}

.hidden {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
